<div class="container">

  <div class="mt-5 glass mx-auto p-5" style="width: 50rem;">
    <h2 class="mb-4 fw-bold">Rate Your Product</h2>

    <div class="card mb-3 mx-auto outline" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/cover.jpg" class="img-fluid card-img" alt="...">
        </div>
        <div class="col-md-8">

          <div class="card-body">
            <h3 class="card-title">Forza Horizon 5</h3>
            <p class="text-justify">Forza Horizon 5 is an upcoming racing game developed by 
              Playground Games and published by Xbox Game Studios. It will be the fifth 
              Forza Horizon title and twelfth main instalment in the Forza series. 
              The game is set in a fictionalised representation of Mexico. It is set to 
              be released on 9 November 2021 for Microsoft Windows, Xbox One, Xbox Series X and S.
            </p>
              <rating></rating>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>